.name-block {
  position: fixed;
  overflow: hidden;
  animation: fadein 1s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  isolation: isolate;
}

.name-block__filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #db7e7e;
  mix-blend-mode: multiply;
  z-index: 1;
}

.name-block__letters {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  transform: scale(1.25) skewX(5deg);
  filter: blur(20px) contrast(20);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.name-block__letter-container {
  font-family: var(--font-xanh);
  font-style: italic;
  background-color: var(--letter-bg);
  color: var(--letter-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  z-index: 0;

  & .name-block__letter {
    font-size: clamp(40rem, 60vw, 100rem);
    animation: spin infinite linear;
  }

  &.color1 {
    --letter-bg: rgb(107, 9, 157);
    --letter-color: rgb(255, 0, 0);
  }

  &.color2 {
    --letter-bg: rgb(107, 9, 157);
    --letter-color: rgb(107, 9, 157);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
